<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>Resume</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
      <script src="/javascripts/getInfo.js"> </script>
      <style>

          .paginationclass span{
              margin-left:15px;
              display:inline-block;
          }
          .pagination-controle li{
              display: inline-block;
          }
          .pagination-controle button{
              font-size: 12px;
              margin-top: -26px;
              cursor:pointer;

          }
          .pagination{
              margin:5px 12px !important;
          }
          ul
          {
              list-style-type: none;
          }
          .tHead{
              background-color: #2E6DA4;
              color: white;
          }

      </style>
  </head>
  <body >


   <div class="container" ng-controller="myCtrl">

       <h2 class="jumbotron"><%= title %></h2>


       <table class="table table-condensed table-striped table-bordered table-hover  no-margin" ng-init="showData()">
           <thead class="tHead">
           <tr>
               <th style="width:10%">Id</th>
               <th style="width:10%">Name</th>
               <th style="width:15%">Email</th>
               <th style="width:10%">Phone</th>
               <th style="width:10%">Batch Id</th>
               <th style="width:5%">Status</th>
               <th style="width:20%">Create Date</th>
               <th style="width:20%">Process Date</th>
           </tr>
           </thead>

           <tbody>

           <tr class="paginationclass" ng-repeat="datalist in datalists | paginate: curPage * pageSize | limitTo: pageSize">
               <td>{{datalist._id | limitTo: -10}}</td>
               <td>{{datalist.name}}</td>
               <td>{{datalist.email}}</td>
               <td>{{datalist.phone}}</td>
               <td>{{datalist.uuid | limitTo: -10}}</td>
               <td>{{datalist.status}}</td>
               <td>{{datalist.creationDate | date:'medium'}}</td>
               <td>{{datalist.processDate| date:'medium'}}</td>
           </tr>

           </tbody>

       </table>

           <div class="pagination pagination-centered" ng-show="datalists.length">
               <ul class="pagination-controle pagination">
                   <li>
                       <button type="button" class="btn btn-primary" ng-disabled="curPage == 0"
                               ng-click="curPage=curPage-1"> &lt; PREV</button>
                   </li>
                   <li>
                       <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                   </li>
                   <li>
                       <button type="button" class="btn btn-primary"
                               ng-disabled="curPage >= datalists.length/pageSize - 1"
                               ng-click="curPage = curPage+1">NEXT &gt;</button>
                   </li>
               </ul>
           </div>
       <br>
       <label>
           Enter Batch Id:<input ng-model="batchID" type="text">
           <button ng-click="statusCodes(batchID)">Enter</button>
       </label>
       <label>
           Enter Skills<input ng-model="skill" type="text">
           <button ng-click="skillSearch(skill)">Enter</button>
       </label>
   </div>
  </body>
</html>
